/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.errorLink {
	color:#ffffff;
	text-decoration: underline;
}

.errorLink:hover {
	color:#220000;
	text-decoration: underline;
}

.errorAlert {
	background-color: #ff6464;
	color: white;
	width: calc(100% - 78px);
	left: 78px;
	transition: all 0.5s ease;
}

.sidebar.open ~ div .errorAlert {
	background-color: #ff6464;
	color: white;
	width: calc(100% - 240px);
	left:240px;
}

.hov-under:hover {
	text-decoration: underline;
}

.clickable {
	cursor: pointer;
}

.topGrabBar {
	-webkit-user-select: none;
	user-select: none;
  	-webkit-app-region: drag;
	min-height: 20px;
	margin-bottom: 14px;
	max-width: calc(100% - 138px);
}

.window-buttons {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar-spacing {
	padding-top: 0px;
}

.menu-bar-button {
	z-index: 2;
	color: white;
	background-color: #171717;
	border: none;
	appearance: none;
	font-size: 1rem;
	transition: all ease-in 0.1s;
	cursor: pointer;
	opacity: 0.9;
	padding: 5px 15px 5px 15px;
}

.menu-bar-button:hover {
	background-color: #4f545c;
}

.menu-bar-button-exit:hover {
	background-color: red;
	color: white;
}

body {
	background-color: #171717;
	color: white;
}

li {
  list-style: none;
}

.video-background {
	z-index: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 50%;
  }

.navbar {
	z-index: 1;
	background: none;
}

.navbar-text {
	color: white;
	margin-top: 1vh;
	padding: 1vw;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.navbar-text:hover {
	color: #C862FF;
}

.home-page-main-text-container {
	padding-top: 15vh;
	width: 60vh;
}

.home-page-event-container {
	padding-top: 35vh;
	width: 60vh;
}

.home-header {
	position: relative;
	text-align: right;
	font-size: 3.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}

.home-subtext {
	position: relative;
	text-align: right;
	font-size: 2.2rem;
	font-family: 'Montserrat', sans-serif;
}

.home-event-line {
	border-style: solid;
	border-bottom: none;
	border-width: 2px;
	position: absolute;
	width: 80vw;
}

.spotify-logo {
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 30px;
	opacity: 50%;
}

.event-input-1 {
	background-color: rgb(243, 243, 243);
	font-family: 'Montserrat', sans-serif;
	color: #3a3a3a;
	width: 22vw;
}

.event-input-2 {
	font-family: 'Montserrat', sans-serif;
	width: 33vw;
}

.event-input-3 {
	font-family: 'Montserrat', sans-serif;
	width: 10vw !important;
}

.event-header-1 {
	font-family: 'Montserrat', sans-serif;
	width: 22vw;
}

.event-header-2 {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 0px;
	left: 22vw;
	padding-left: 15px;
}

.event-header-3 {
	font-family: 'Montserrat', sans-serif;
	width: 10vw;
	position: absolute;
	top: 0px;
	right: 30px;
	padding-left: 15px;
}

.line-height-40 {
	line-height: 40px !important;
}

.input-hidden {
	display: inline;
	font-family: inherit;
	font-size: inherit;
	box-sizing: inherit;
	color: white;
	padding: none !important;
	border: none !important;
	font-weight: 500 !important;
}
.input-hidden:focus-visible {
	outline: none !important;
}

.song-display {
	overflow: auto;
	max-height: 73vh;
}

.events-container {
	overflow-y: scroll;
	height: 62vh;
	padding-right: 2vh;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-gradient::-webkit-scrollbar-track {
    background: #3a3a3a;
	border-radius: 10px;

}

.scrollbar-gradient::-webkit-scrollbar {
	background: #3a3a3a;
    width: 12px;
	border-radius: 10px;
}

.scrollbar-gradient::-webkit-scrollbar-thumb {
	background-color: #C862FF;
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#C862FF), color-stop(100%, #3a3a3a),
            to(#C862FF));
    background-image: -webkit-linear-gradient(bottom, #C862FF 0%, #3a3a3a 99%, #C862FF 100%);
    background-image: linear-gradient(to top, #C862FF 0%, #3a3a3a 99%, #C862FF 100%);
	border-radius: 10px; */
}

body{
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: #3a3a3a;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;
  }

.sidebar.open{
	width: 240px;
}

/*TOP NAVBAR LOGO*/

.sidebar .logo_content .logo{
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	opacity: 0;
	pointer-events: none;
}

.sidebar.open .logo_content .logo{
	opacity: 1;
}

.logo_content .logo i{
	font-size: 28px;
	margin-right: 5px;
}

.logo_content .logo .logo_name{
	font-size: 28px;
	font-weight: 400;
}

.sidebar #btn{
	position: absolute;
	color: #fff;
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}

.sidebar.open #btn{
	left: 85%;
}

/*SIDE NAVBAR GENERAL*/

.sidebar ul{
	margin-top: 20px;
}

.sidebar ul li{
	position: relative;
	height: 50px;
	width: 100%;
	list-style: none;

}

.sidebar ul li a{
	width:auto;
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 12px;
	white-space: nowrap;
}

.sidebar ul li a:hover{
	color: #3a3a3a;
	background: #fff;
}

.sidebar ul li a i{
	height: 50px;
	min-width: 50px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
}

.sidebar .links_name{
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s cubic-bezier(0, 1, 0.5, 1);
}

.sidebar.open .links_name{
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.4s ease-in;
}

.sidebar ul li .tooltip-cust{
	position: absolute;
	left: 122px;
	top:0%;
	transform: translate(-45%, -50%);
	border-radius: 6px;
	height: 35px;
	width: 122px;
	background: #fff;
	color:#3a3a3a;
	box-shadow: 0, 5px, 10px rgba(0, 0, 0, 0.2);
	line-height: 35px;
	text-align: center;
	transition: 0s;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
	display: block;
}

.sidebar.open ul li .tooltip-cust{
	display: none;
}

.sidebar ul li:hover .tooltip-cust{
	transition: all 0.5s ease;
	opacity: 1;
	top:50%;
}


/*SETTINGS*/
.sidebar .settings{
	position: absolute;
	padding: 14px;
	left: 0;
	bottom: 0px;
	height: 78px;
	width: 100%;
	list-style: none;
	background:#272727;
}

.sidebar .settings a{
	width:auto;
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 12px;
	white-space: nowrap;
}

.sidebar .settings a:hover{
	color: #3a3a3a;
	background: #fff;
}

.sidebar .settings a i{
	height: 50px;
	min-width: 50px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
}

.sidebar .settings .tooltip-cust{
	position: absolute;
	left: 122px;
	top:0%;
	transform: translate(-45%, -50%);
	border-radius: 6px;
	height: 35px;
	width: 122px;
	background: #fff;
	color:#3a3a3a;
	box-shadow: 0, 5px, 10px rgba(0, 0, 0, 0.2);
	line-height: 35px;
	text-align: center;
	transition: 0s;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
	display: block;
}

.sidebar.open .settings .tooltip-cust{
	display: none;
}

.sidebar .settings:hover .tooltip-cust{
	transition: all 0.5s ease;
	opacity: 1;
	top:50%;
}



.nav_list{
	padding: 0px;
}

/* Stuff to make the main page resize correctly*/
.page-container {
	position: absolute;
	height: 100%;
	width: calc(100% - 78px);
	left: 78px;
	overflow: hidden !important;
	transition: all 0.5s ease;
	padding: 2vh;
}

.sidebar.open ~ .page-container{
	width: calc(100% - 240px);
	left:240px;
}
