/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.topGrabBar {
	-webkit-user-select: none;
  	-webkit-app-region: drag;
	min-height: 15px;
	max-width: calc(100% - 138px);
}

.window-buttons {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar-spacing {
	padding-top: 0px;
}

.menu-bar-button {
	z-index: 2;
	color: white;
	background-color: #171717;
	border: none;
	appearance: none;
	font-size: 1rem;
	transition: all ease-in 0.1s;
	cursor: pointer;
	opacity: 0.9;
	padding: 5px 15px 5px 15px;
}

.menu-bar-button:hover {
	background-color: #4f545c;
}

.menu-bar-button-exit:hover {
	background-color: red;
	color: white;
}

body {
	background-color: #171717;
	color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.video-background {
	z-index: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 50%;
  }

.page-container {
	padding: 5vh;
	overflow: hidden;
}

.navbar {
	z-index: 1;
	background: none;
}

.navbar-text {
	color: white;
	margin-top: 1vh;
	padding: 1vw;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.navbar-text:hover {
	color: #C862FF;
}

.home-page-main-text-container {
	padding-top: 20vh;
	width: 60vh;
}

.home-page-event-container {
	padding-top: 35vh;
	width: 60vh;
}

.home-header {
	position: relative;
	text-align: right;
	font-size: 3.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}

.home-subtext {
	position: relative;
	text-align: right;
	font-size: 2.2rem;
	font-family: 'Montserrat', sans-serif;
}

.home-event-line {
	border-style: solid;
	border-bottom: none;
	border-width: 2px;
	position: absolute;
	width: 80vw;
}

.spotify-logo {
	height: 30px;
	opacity: 50%;
	position: fixed;
	padding-left: 92vw;
}

.width-100 {
	width: 100%
}
